<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Введение в Java - разработку</title>
</head>
    <body>
        <h1>Урок 1</h1>
            <h2>Знакомство с языком</h2>

                <p>Привет! В этом уроке мы начнем изучать язык java.</p>
                <p>
                      <a href="https://ya.ru">
                            <img src="sun.jpg" alt="sun" width="84">
                      </a>
                        это солнышко ведет на Яндекс
                </p>

    </body>
</html>
